
<mat-slide-toggle>ON/OFF</mat-slide-toggle>

<h3>Pipe Demos</h3>

<p>FirstName: {{firstName | uppercase }}</p>
<p>FirstName: {{firstName | lowercase }}</p>
<p>Title: {{title | titlecase}}</p>

<hr>
<p>Today: {{today}}</p>
<p>Today: {{today | date }}</p>
<p>Today: {{today | date:'yyyy-MM-dd' }}</p>

<hr>
<p>Pno: {{pno}}</p>
<p>Percentage: {{pno | percent}}</p>

<hr>
<p>Salary: {{salary}}</p>
<p>Salary : {{salary | currency}}</p>
<p>Salary : {{salary | currency : 'INR'}}</p>

<hr>

<p>{{firstName | greet }}</p>

<p>My Num  = {{myNum}}</p>

